<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin-top: 10%  
    }
</style>
<body bgcolor="teal">
    <center>
    <form method="POST" action="">
        Greeting: <input type="text" name="Greeting" size="25"/><br>
        Message: <input type="text" name="Message" size="25"/><br>
        <br>
        <input type="reset" value="RESET">
        <input type="submit" value="SUBMIT">
    </form>
    </center>
</body>
</html>