<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin-top: 10%;
        padding: 10px;
    }
    a{
        color: black;

    }
</style>
<body bgcolor="gray">
    <a href="form.html" target="">Add greeting</a><br><br>
    <a href="form.html" target="">Delete greeting</a><br><br>
    <a href="form.html" target="">Update greeting</a><br>
    
</body>
</html>